<div class="main-container">
  <div class="d-flex justify-content-between m-4 ">
    <button class="btn btn-primary " (click)="openCreateForm()">Create New TODO</button>
    <div class=" justify-content-between">

    </div>
    <!-- Filter Dropdown -->
    <div class="col-3 d-flex">
      <label for="statusFilter">Filter by Status:</label>&nbsp;&nbsp;
      <select id="statusFilter" [formControl]="statusFilterControl" (change)="filterTodos()">
        <option value="">All</option>
        <option *ngFor="let status of statuses" [value]="status.value">{{ status.label }}</option>
      </select>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center m-4">
    <div class="m-4">
      <div class="me-4">
        <div class="d-flex flex-row-reverse m-0">
          <div class="col-md-12">
            <div class="flex-flow d-flex">
              <div class="col-3">
                <strong>Title</strong>
              </div>
              <div class="col-3">
                <strong>Status</strong>
              </div>
              <div class="col-3">
                <strong>Description</strong>
              </div>
              <div class="col-3">
                <strong>Action</strong>
              </div>
            </div>
            <!-- *ngFor="let item of todos" -->
            <div class="row" *ngFor="let item of filteredTodos">
              <div class="col-3 text-truncate" title="{{ item.title }}">
                <button class="btn btn-link" (click)="openEditForm(item)">{{ item.title }}</button>
              </div>
              <div class="col-3 text-truncate" title="{{ item.status }}">{{ item.status }}</div>
              <div class="col-3 text-truncate text-wrap" title="{{ item.description }}">{{ item.description }}</div>
              <div class="col-3">
                <i class="fa fa-trash-o" style="font-size:20px;color:red;cursor: pointer;margin: 17px 0px 0px 16px;"
                  (click)="onDelete(item.id)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Create Todo Form -->
  <div class="col">
    <div class="d-flex justify-content-center">
      <div *ngIf="showForm" class="modal">
        <div class="modal-content">
          <span class="close" (click)="closeForm()">&times;</span>
          <h2>{{ editMode ? 'Edit Todo' : 'Create New Todo' }}</h2>
          <form (ngSubmit)="handleSubmit()">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" type="text" id="title" name="title" [(ngModel)]="formData.title" required>
            <label class="form-label" for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" [(ngModel)]="formData.description"
              required></textarea>
            <label class="form-label" for="status">Status:</label>
            <select class="form-control" id="status" name="status" [(ngModel)]="formData.status" required>
              <option [value]="st.value" *ngFor="let st of statuses">{{ st.label }}</option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary">{{ editMode ? 'Save Changes' : 'Create' }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>